<div class='columns'>
  <div class='column is-half'>
    <%= form_for(@geodetic_system) do |f| %>
      <div class='field'>
        <%= f.label :label, class: 'label' %>
        <div class='control'>
          <%= f.text_field :label, class: 'input' %>
        </div>
      </div>
      <div class='field'>
        <div class='control actions'>
          <%= f.submit class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
