<p id="notice"><%= notice %></p>

<h1>List Maintenances</h1>

<table>
  <thead>
    <tr>
      <th colspan="">ahhhhhhhhh</th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New List Maintenance', new_list_maintenance_path %>
