<section class="hero is-primary is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <%= render_component('header', { title: 'Welcome to Batabase' }) %>
    </div>
  </div>
</section>