<h1>Customer Search</h1>

<% @flexible_searches.each do |flexible_search| %>
    <section class="flexible_search">
        <div class="summary">
            <h2><%= link_to flexible_search.name, flexible_search %></h2>
            <p></p>
        </div>
    </section>
<% end %>

<section class="admin">
    <%= link_to "Add New Custom Search", new_flexible_search_path, class: "button" %>
</section>
<%= link_to 'Back', flexible_searches_path %>