<h1>New Flexible Search</h1>

<form action="<%= flexible_search_results_path %>" method="GET">
  <label for="idspp1">Manual idspp1</label><br>
  <input type="text" name="manual_idspp1"><br>
  <input type="submit" value="Search">
</form>
