<h1>Quick Search</h1>
<h3><%= link_to "Sonobat Output", qs_so_form_path, class: "list-group-item-heading" %></h3>
<h3><%= link_to "ODFW", odfw_form_path, class: "list-group-item-heading" %></h3>
<h3><%= link_to "USGS NA Bat", usgs_na_bat_form_path, class: "list-group-item-heading" %></h3>


