<h1>Quick Search</h1>
<h3><%= link_to "Sonobat Output", quick_search_1_path, class: "list-group-item-heading" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Go to form", alt_search_1_path, class: "btn btn-primary" %></h3>
<h3><%= link_to "Search #2", quick_search_2_path, class: "list-group-item-heading" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Go to form", alt_search_1_path, class: "btn btn-primary" %></h3>


