<h1>Sonobat Outputs Quick Search</h1>
<form action="<%= odfw_results_path %>" method="GET">

    <label for="location_name">Location Name</label><br>
    <input type="location_name" name="location_name"><br>

    <label for="night">Night</label><br>
    <input type="text" name="night"><br>

    <label for="label?">Datum Label</label><br>
    <input type="label?" name="label?"><br>

    <label for="latitude">Latitude</label><br>
    <input type="latitude" name="latitude"><br>

    <label for="longitude">Longitude</label><br>
    <input type="longitude" name="longitude"><br>

    <label for="elevation">Elevation</label><br>
    <input type="elevation" name="elevation"><br>

    <label for="code">Code</label><br>
    <input type="code" name="code"><br>

    <label for="name">County Name</label><br>
    <input type="name" name="name"><br>

    <label for="comments">Location Description</label><br>
    <input type="comments" name="comments"><br>

    <label for="first_name">Contact First Name</label><br>
    <input type="first_name" name="first_name"><br>

    <label for="last_name">Contact Last Name</label><br>
    <input type="last_name" name="last_name"><br>

    <label for="organization">Organization</label><br>
    <input type="organization" name="organization"><br>

    <label for="first_name">Local Habitat Label</label><br>
    <input type="first_name" name="first_name"><br>

    <label for="manual_idspp1">Manual Species ID 1</label><br>
    <input type="text" name="manual_idspp1"><br>

    <label for="manual_idspp2">Manual Species ID 2</label><br>
    <input type="text" name="manual_idspp2"><br>

    <label for="land_ownership">Ownership</label><br>
    <input type="land_ownership" name="land_ownership"><br>

    <input type="submit" value="Search">
</form>