<h1>ODFW Quick Search</h1>
<form action="<%= odfw_results_path %>" method="GET">

    <h4>Filter by Date</h4>
    <label for="start_date">Start Date</label><br>
    <input type="text" name="start_date"><br>

    <label for="end_date">End Date</label><br>
    <input type="text" name="end_date"><br><br>

    <h4>Filter by Column</h4>

    <label for="location_name">Location Name</label><br>
    <input type="text" name="location_name"><br>

    <label for="night">Night</label><br>
    <input type="text" name="night"><br>

    <label for="label?">Datum Label</label><br>
    <input type="text" name="label?"><br>

    <label for="latitude">Latitude</label><br>
    <input type="text" name="latitude"><br>

    <label for="longitude">Longitude</label><br>
    <input type="text" name="longitude"><br>

    <label for="elevation">Elevation</label><br>
    <input type="text" name="elevation"><br>

    <label for="code">State Code</label><br>
    <input type="text" name="code"><br>

    <label for="name">County Name</label><br>
    <input type="text" name="name"><br>

    <label for="comments">Location Description</label><br>
    <input type="text" name="comments"><br>

    <label for="first_name">Contact First Name</label><br>
    <input type="text" name="first_name"><br>

    <label for="last_name">Contact Last Name</label><br>
    <input type="text" name="last_name"><br>

    <label for="organization">Organization</label><br>
    <input type="text" name="organization"><br>

    <label for="first_name">Local Habitat Label</label><br>
    <input type="text" name="first_name"><br>

    <label for="manual_idspp1">Manual Species ID 1</label><br>
    <input type="text" name="manual_idspp1"><br>

    <label for="manual_idspp2">Manual Species ID 2</label><br>
    <input type="text" name="manual_idspp2"><br>

    <label for="land_ownership">Ownership</label><br>
    <input type="text" name="land_ownership"><br>

    <input type="submit" value="Search">
</form>