<h1>Sonobat Outputs Quick Search</h1>
<form action="<%= qs_so_results_path %>" method="GET">

    <label for="agency">Agency</label><br>
    <input type="agency" name="agency"><br>

    <label for="location_identifier">Location Identifier</label><br>
    <input type="location_identifier" name="location_identifier"><br>

    <label for="manual_idspp1">Manual Species ID 1</label><br>
    <input type="text" name="manual_idspp1"><br>

    <label for="manual_idspp2">Manual Species ID 2</label><br>
    <input type="text" name="manual_idspp2"><br>

    <label for="night">Night</label><br>
    <input type="text" name="night"><br>

    <label for="notes">Notes</label><br>
    <input type="notes" name="notes"><br>

    <label for="notes">State</label><br>
    <input type="notes" name="notes"><br>

    <label for="deployment_date">Deployment Date</label><br>
    <input type="deployment_date" name="deployment_date"><br>

    <label for="recovery_date">Recovery Date</label><br>
    <input type="recovery_date" name="recovery_date"><br>

    <label for="code">Sample Unit Code</label><br>
    <input type="code" name="code"><br>

    <label for="grts">Sample Unit GRTS</label><br>
    <input type="grts" name="grts"><br>

    <label for="spp_accp">Species Accepted</label><br>
    <input type="spp_accp" name="spp_accp"><br>

    <input type="submit" value="Search">
</form>