<style>
    div.filter_dates {
        border: 1px solid black;
        padding: 8px;
        outline: 2px;
        width: 240px;
        margin: 4px;
    }
    div.filter_columns {
        border: 1px solid black;
        padding: 8px;
        outline: 2px;
        width: 240px;
        margin: 4px;
        display: block;
    }
</style>


<h1>Sonobat Outputs Quick Search</h1>
<form action="<%= qs_so_results_path %>" method="GET">
    <h4>Filter by Date</h4>
    <label for="start_date">Start Date</label><br>
    <input type="text" name="start_date"><br>

    <label for="end_date">End Date</label><br>
    <input type="text" name="end_date"><br><br>

    <h4>Filter by Column</h4>
    <label for="agency">Agency</label><br>
    <input type="text" name="agency"><br>

    <label for="location_identifier">Location Identifier</label><br>
    <input type="text" name="location_identifier"><br>

    <label for="manual_idspp1">Manual Species ID 1</label><br>
    <input type="text" name="manual_idspp1"><br>

    <label for="manual_idspp2">Manual Species ID 2</label><br>
    <input type="text" name="manual_idspp2"><br>

    <label for="night">Night</label><br>
    <input type="text" name="night"><br>

    <label for="notes">Notes</label><br>
    <input type="notes" name="notes"><br>

    <label for="notes">State</label><br>
    <input type="notes" name="notes"><br>

    <label for="deployment_date">Deployment Date</label><br>
    <input type="deployment_date" name="deployment_date"><br>

    <label for="recovery_date">Recovery Date</label><br>
    <input type="recovery_date" name="recovery_date"><br>

    <label for="code">Sample Unit Code</label><br>
    <input type="code" name="code"><br>

    <label for="grts">Sample Unit GRTS</label><br>
    <input type="grts" name="grts"><br>

    <label for="spp_accp">Species Accepted</label><br>
    <input type="code" name="spp_accp"><br>


    <input type="submit" value="Search">

</form>