<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flexible_search.name %>
</p>



<%= link_to 'Edit', edit_flexible_search_path(@flexible_search) %> |
<%= link_to 'Back', flexible_searches_path %>