<h1>Search Results</h1>

<% if @flexible_search.search_sonobat_outputs.empty? %>

  <p> No Records Found </p>

<% else %>

<ul>
<% @flexible_search.search_sonobat_outputs.each do |c| %>
  <br>
  <li> 
      <%= sb.manual_idspp1 %>
  </li>
<% end %>
</ul>

<%= link_to 'Back', flexible_search_path %>
