<h1>USGS NA Bat Quick Search</h1>
<form action="<%= usgs_na_bat_results_path %>" method="GET">

    <h4>Filter by Date</h4>
    <label for="start_date">Start Date</label><br>
    <input type="text" name="start_date"><br>

    <label for="end_date">End Date</label><br>
    <input type="text" name="end_date"><br><br>

    <h4>Filter by Column</h4>
    <label for="sample_unit">Sample Unit</label><br>
    <input type="text" name="sample_unit"><br>

    <label for="location_name">Location Name</label><br>
    <input type="text" name="location_name"><br>

    <label for="deployment_date">Deployment Date</label><br>
    <input type="text" name="deployment_date"><br>

    <label for="recovery_date">Recovery Date</label><br>
    <input type="text" name="recovery_date"><br>

    <label for="manufacturer">Manufacturer</label><br>
    <input type="text" name="manufacturer"><br>

    <label for="model">Model</label><br>
    <input type="text" name="model"><br>

    <label for="microphone_type">Microphone Type</label><br>
    <input type="text" name="microphone_type"><br>

    <label for="microphone_height_off_ground">Microphone Height</label><br>
    <input type="text" name="microphone_height_off_ground"><br>

    <label for="distance_range">Distance Range</label><br>
    <input type="text" name="distance_range"><br>

    <label for="clutter_type">Clutter Type</label><br>
    <input type="text" name="clutter_type"><br>

    <label for="water_body_type">Water Body Type</label><br>
    <input type="text" name="water_body_type"><br>

    <label for="clutter_percent">Clutter %</label><br>
    <input type="text" name="clutter_percent"><br>

    <label for="local_habitat">Local Habitat</label><br>
    <input type="text" name="local_habitat"><br>

    <label for="filename">File Name</label><br>
    <input type="text" name="filename"><br>

    <label for="software">Software Label</label><br>
    <input type="text" name="software"><br>

    <label for="version">Software Version</label><br>
    <input type="text" name="version"><br>

    <label for="spp_accp">Species Accepted</label><br>
    <input type="spp_accp" name="spp_accp"><br>

    <label for="manual_idspp1">Manual Species ID 1</label><br>
    <input type="text" name="manual_idspp1"><br>

    <label for="manual_idspp2">Manual Species ID 2</label><br>
    <input type="text" name="manual_idspp2"><br>

    <label for="species_group">Species Group</label><br>
    <input type="text" name="species_group"><br>

    <input type="submit" value="Search">
</form>