/*
  *= require_self
  *= require main
*/

.fixed-header {
  flex: 1;
  overflow: auto;
}

.fill-viewport {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
