<div class="d-flex flex-column">
  <% if @uploads.nil? %>
    <%=
      render(AlertComponent.new(dismissible: false,
      type: :danger,
      message: "Something went wrong. Try reloading the webpage.",
      styling: "m-3"))
    %>
  <% else %>
    <%= render(UploadListComponent.new(uploads: @uploads)) %>
    <%=
      link_to "Add Upload",
      new_upload_path,
      class: 'btn btn-success align-self-center px-3',
      method: :get
    %>
  <% end %>
</div>
