<div class="d-flex flex-column">
  <% if @uploads.nil? %>
    <%=
      alert type: :danger,
      heading: "Could not load uploads",
      message: "Something went wrong. Try reloading the webpage",
      dismissible: false
    %>
  <% else %>
    <%= uploads_list uploads: @uploads %>
  <% end %>

  <%= 
    link_to "Add Upload",
    new_upload_path,
    class: 'btn btn-success align-self-center px-3',
    method: :new
  %>
</div>
