<div class="d-flex flex-column">
  <% if not @uploads.nil? %>
    <div class="p-3">
      <%=
        alert type: :danger,
        heading: "Could not load uploads",
        message: "Something went wrong. Try reloading the webpage",
        dismissible: false
      %>
    </div>
  <% else %>
    <%= uploads_list uploads: @uploads %>

    <%= 
      link_to "Add Upload",
      new_upload_path,
      class: 'btn btn-success align-self-center px-3',
      method: :new
    %>
  <% end %>
</div>
