<div class="container mt-3">
  <h2>Import CSV Data</h2>
  <%= bootstrap_form_with(model: @upload) do |f| %>
    <%= f.select :upload_type, [['Site Metadata', 'meta'], ['Sonobat Output', 'sono']] %>
    <%= f.file_field :data %>
    <%= f.submit "Upload CSV" %>
  <% end %>
</div>
<script>
  var customFileInput = document.querySelector('.custom-file-input');
  
  customFileInput.addEventListener('change', () => {
    customFileInput.nextSibling.innerText = customFileInput.files[0].name;
  });
</script>
