<!DOCTYPE html>
<html>
  <head>
    <title>Batabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="pb-2 mt-4 mb-2 border-bottom">
      Page header
    </div>
    <%= yield %>
  </body>
</html>
