// Bulma variable overrides
$orange: #d73f09;
$red: #d21717;
$primary: $orange;
$danger: $red;

@import '~bulma/bulma';


// Flash Messages

.alert {
  .close {
    float: right;
    color: white;
    margin-top: -15px;
    margin-right: -30px;
    text-decoration: none !important;
  }
}
